
/* page main css starts here */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: "My Font";
    src: url("myfont.ttf") format("truetype");
  }

body {
    background-color: rgb(245, 245, 245);

    font-family: 'Open Sans', sans-serif;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{background-color: rgb(245, 245, 245);}

/* page main css ends here */


/* logo css starts here */



/* Absolute positioning for the logo */



/* logo css ends here */

/* navbar part starts here */
.navbar{
    background-color: rgb(245, 245, 245);
}

.nav-link{
    color:rgb(36, 36, 28);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover{
    background-color: rgb(36, 36, 28);
    color: rgb(245, 245, 245);
    transition: 0.5s;
   
}

.navbar-brand{
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(36, 36, 28);
    cursor: pointer;
    text-decoration: none;
    font-family: "My Font", sans-serif;
}

.navbar-brand:hover{ font-size: 1.25rem;
    font-weight: bold;
    color: rgba(36, 36, 28 , 0.5);
    cursor: pointer;
    text-decoration: none;}
/* navbar part ends here here */



/* main section starts here */

.main{
    /* background:url(/images/bg.png)no-repeat;
    background-size: cover; */
    width: 100%;
    height: 95vh;
}

.main h3{
    font-size: 4.4rem;
    font-weight: 700;

}

.main h6{
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
     width: 40%;
}

.main .bt1{
    height: 55px;
    width: 138px;
    background-color:transparent;
    color: rgb(36, 36, 28);
    border: 1px solid rgb(36, 36, 28);
    outline: none;
    
    font-weight: bold;
    border-radius: 5px;
}
.main .bt1:hover{
    background-color: rgb(36, 36, 28);
    transition: 0.5s;
    color: rgb(245, 245, 245);
}
.main .bt2{
    height: 55px;
    width: 138px;
    background-color:transparent;
    color: rgb(36, 36, 28);
    outline: none;
    border: 1px solid rgb(36, 36, 28);
    font-weight: bold;
    border-radius: 5px;
}
.main .bt2:hover{
    background-color: rgb(36, 36, 28);
    color: rgb(245,245,245);
    transition: 0.5s;
}
#blacklinetext{ font-family: "My Font", sans-serif;}
/* main section ends here here */

.about img{
    -webkit-box-shadow: 6px 4px 41px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 41px -24px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 41px -24px rgba(0,0,0,0.75);
}

h1{

    font-size: 3rem;
    font-weight: 900;

}

        /*  instagram button css starts here */

.bi-instagram {
padding: 20px 30px;
text-decoration: none;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 4px;
font-size: 20px;
border-radius: 40px;
background-position-x: 10%;
color: rgb(36, 36, 28);
transition: 0.75s; 

 background-size: 150%;
 background-position-x: 90%;
transition:background-position-x 0.5s linear;
  
  }
  @media only screen and (max-width: 600px) {
    .bi-instagram {
      font-size: 0.8rem;
    }
    #openingLogo{
       width: 75%;
    }#openingLogo2{
        width: 75%;
     }
  }
.bi-instagram:hover{top: -10;
color: rgba(36, 36, 28 , 0.5) ;}


        /* instagram button css ends here */

        /* services css starts here */
.card{
    background-color: rgb(245,245,245);
    border-radius: 50px;
    border: none;
    outline: none;
    -webkit-box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
    box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);


}
.card p{
    color: gray;

}
.circle{
    height: 70px;
    width: 70px;
    background-color: rgb(245, 245, 245);
    color: rgb(36, 36, 28);
    padding: 12px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
   
}
.card:hover .circle{

   background-color: rgba(36, 36, 28 , 0.2);
   
    transition: 0.5s;

}


/* services css ends here */


/* galery css starts here */


.control ul li{
    list-style: none;
    background-color: rgba(36,36,28, 0.2);
    padding: 5px 15px;
    margin: 5px;
    color: rgb(36,36,28);
    display: inline-block;
    cursor: pointer;
    letter-spacing: 3px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    border-radius: 15px;
    
}


.item{
    position: relative;
}
.item:hover{
    -webkit-box-shadow: -18px 3px 109px -65px rgba(0,0,0,0.75);
    -moz-box-shadow: -18px 3px 109px -65px rgba(0,0,0,0.75);
    box-shadow: -18px 3px 109px -65px rgba(0,0,0,0.75);
    transition: 0.5s;

}
.item span{
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 40px;
    color: black;
    cursor: pointer;
    opacity: 0;
}
.item:hover span{
    opacity: 1;
    transition: 0.5s;
}
.item:before{
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(238, 235, 230, 0.479);
    opacity: 0;
    position: absolute;
}
.item:hover:before{
    opacity: 1;
    transition: 0.3s;
}

/* galery css ends here */

/* form css starts here */

.btn-form{height: 40px;
    width: 145px;
    outline: none;
    border: none;
    background-color: rgb(36, 36, 28);
    color: rgb(245, 245, 245);
    border-radius: 5px;
    }

    .btn-form:hover{       
        border: 1px solid rgb(36, 36, 28);
        background-color: rgba(36, 36, 28 , 0.8);
         color: rgb(245, 245, 245);
        transition: 0.5s;
       
    }

    /* form css ends here */

/* contact us css starts here */

      /* contact us css ends here */

a{text-decoration: none;}

/* logo açılış */

#openingLogo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fillblack 0.5s ease forwards 3.3s;
}
#openingLogo2{
    position: absolute;
    top: 50%;
    left: 49.7%;
    transform: translate(-50%,-50%);
    animation: fillblack2 0.5s ease forwards 5s;
}
/* 2 b harfi */
#openingLogo path:nth-child(1){
    stroke-dasharray: 566;
   stroke-dashoffset: 566;
   animation: line-anim 2s ease forwards;
}
#openingLogo path:nth-child(2){
    stroke-dasharray: 285;
    stroke-dashoffset: 285;
    animation: line-anim 2s ease forwards 0.3s;
}
#openingLogo path:nth-child(3){
    stroke-dasharray: 446;
    stroke-dashoffset: 446;
    animation: line-anim 2s ease forwards 0.6s;
}
#openingLogo path:nth-child(4){
    stroke-dasharray: 369;
    stroke-dashoffset: 369;
    animation: line-anim 2s ease forwards 0.9s;
}
#openingLogo path:nth-child(5){
    stroke-dasharray: 466;
    stroke-dashoffset: 466;
    animation: line-anim 2s ease forwards 1.2s;
}
#openingLogo path:nth-child(6){
    stroke-dasharray: 285;
    stroke-dashoffset: 285;
    animation: line-anim 2s ease forwards 1.5s;
}
#openingLogo path:nth-child(7){
    stroke-dasharray: 204;
    stroke-dashoffset: 204;
    animation: line-anim 2s ease forwards 1.8s;
}
#openingLogo path:nth-child(8){
    stroke-dasharray: 563;
    stroke-dashoffset: 563;
    animation: line-anim 2s ease forwards 2.1s;
}
#openingLogo path:nth-child(9){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: line-anim 2s ease forwards 2.4s;
}
#openingLogo2 path:nth-child(1){
    stroke-dasharray: 2500;
    stroke-dashoffset: 2500;
    animation: line-anim2 2s ease forwards 3.5s;
    
}




@keyframes line-anim {
    to{
        stroke-dashoffset: 0;
    }
    
}
/* çizgi için keyframe */
@keyframes line-anim2 {
    to{
        stroke-dashoffset: 1400;
    }
    
}
@keyframes fillblack{
    from{
        fill: transparent;
    }
    to{
    fill:rgb(36, 36, 28);
    }
}
/* çizgi için fillblack fakat kullanmıyoruz */
/* @keyframes fillblack2{
    from{
        fill: transparent;
    }
    to{
    fill:rgb(36, 36, 28);
   
    }
} */

/* logo açılış ends */
/* h css starts here */
h4{font-weight: 600;}
h3{font-weight: 500;}

h5{font-size: 1.50rem;
font-weight: bold;}

/* h css ends here */

/* carousel css starts here */


/* carousel css ends here */

/* footer css starts here */

    footer {
       color: rgb(36, 36, 28);
       font-weight: bold;
    }



/* footer css ends here */
       
